{% extends 'base.html' %}

{% block container %}
{% if message %}
    <p class="message">{{ message | safe }}</p>
{% endif %}
<form action="/signup" method="POST">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}